<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <style>
        .fieldErrors {
            color: #bd2130;
        }

    </style>
</th:block>

<th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function(){
                var errorsMessage = [[${errorsMessage}]];
                if(errorsMessage != null){
                    alert(errorsMessage);
                }
            }
        </script>
</th:block>

    <div layout:fragment="content">
        <form action="/members/new" role="form" method="post"
                th:object="${memberFormDto}">
            <div class="form-group">
                <label th:for="name"> 이름 </label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력해주세요.">
                <p th:if="${#field.hasErrors('name')}" th:errors="*{name}" class="fieldErrors">Incorrect data</p>
            </div>
        </form>
    </div>


</html>